/* Author: Kiara Furutani 
This file contains style elements for the Home Page 
Partial format used from https://www.w3schools.com/howto/howto_css_subnav.asp */ 

/* Centers text*/
body {
    background-color: rgb(186, 226, 233);
}
/* Creates background color */
h1 {
    text-align: center; 
    font-size: 35px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

/* The navigation menu */
.navbar {
  
  overflow: hidden;
  background-color: rgb(41, 136, 160);
}

/* Navigation links */
.navbar a {
    
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 14px 130px;
  text-decoration: none;

}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 22px;
  border: none;
  outline: none;
  color:white;
  padding: 14px 130px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(23, 94, 112);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(136, 181, 192);
  width: 100%;
  z-index: 1;

}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color:  rgb(104, 151, 163);
  color:white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}